@for (group of groups; track group.key) {
  <div class="class-group">
    <span class="class-group-label mat-label-small">
      {{ ('ingredientClass.groups.' + group.key) | translate }}
    </span>
    <div class="class-group-options">
      @for (name of group.classes; track name) {
        <mat-checkbox [checked]="isChecked(name)"
                      (change)="toggle(name, $event.checked)">
          {{ ('ingredientClass.classes.' + name) | translate }}
        </mat-checkbox>
      }
    </div>
  </div>
}
